<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialSize" value="1" />
        <property name="minIdle" value="1" />
        <property name="maxActive" value="20" />
        <property name="maxWait" value="60000" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="validationQuery" value="SELECT 'x'" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小（Oracle使用） -->
        <!-- <property name="poolPreparedStatements" value="true" />
            <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->

        <!-- 配置监控统计拦截的filters，去掉后监控界面sql无法统计 -->
        <!--<property name="filters" value="stat,wall" />-->
        <!--<property name="proxyFilters">-->
           <!--<list>-->
               <!--<ref bean="stat-filter" />-->
               <!--<ref bean="log-filter" />-->
           <!--</list>-->
        <!--</property>-->
    </bean>

     <!--<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">-->
        <!--<property name="mergeSql" value="true" />-->
        <!--<property name="logSlowSql" value="true" />-->
        <!--<property name="slowSqlMillis" value="1" />-->
    <!--</bean>-->
    <!--<bean id="log-filter" class="com.alibaba.druid.filter.logging.Slf4jLogFilter">-->
        <!--<property name="resultSetLogEnabled" value="false" />-->
        <!--<property name="statementExecutableSqlLogEnable" value="true" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置druid监控&ndash;&gt;-->
    <!--<bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor" />-->
    <!--<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">-->
        <!--<property name="patterns">-->
            <!--<list>-->
                <!--<value>com.zynsun.platform.*.facade.*</value>-->
              <!--&lt;!&ndash;  如果要代理persistence层(也就是mapper接口)-->
                <!--必须设置 proxy-target-class="false", 否则将会报错&ndash;&gt;-->
                <!--<value>com.zynsun.platform.*.mapper.*</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<aop:config proxy-target-class="false">-->
        <!--<aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />-->
    <!--</aop:config>-->
</beans>