<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zynsun.platform.edoc.mapper.EdocCredentialsMapper">
    <resultMap id="BaseResultMap" type="com.zynsun.platform.edoc.domain.EdocCredentials">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="edoc_header_id" jdbcType="BIGINT" property="edocHeaderId" />
        <result column="voucher_status" property="voucherStatus" jdbcType="VARCHAR" />
        <result column="credentials_num" jdbcType="VARCHAR" property="credentialsNum" />
        <result column="credentials_type" jdbcType="VARCHAR" property="credentialsType" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="create_date" jdbcType="VARCHAR" property="createDate" />
        <result column="currency" jdbcType="VARCHAR" property="currency" />
        <result column="credentials_name" jdbcType="VARCHAR" property="credentialsName" />
        <result column="attachment_count" jdbcType="BIGINT" property="attachmentCount" />
        <result column="digest" jdbcType="VARCHAR" property="digest" />
        <result column="accounting_subject" jdbcType="VARCHAR" property="accountingSubject" />
        <result column="acount" jdbcType="VARCHAR" property="acount" />
        <result column="debtor_money" jdbcType="VARCHAR" property="debtorMoney" />
        <result column="creditor_money" jdbcType="VARCHAR" property="creditorMoney" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="auditor" jdbcType="VARCHAR" property="auditor" />
        <result column="c_accounter" jdbcType="VARCHAR" property="cAccounter" />
        <result column="cashier" jdbcType="VARCHAR" property="cashier" />
        <result column="debtor_money_total" jdbcType="VARCHAR" property="debtorMoneyTotal" />
        <result column="creditor_money_total" jdbcType="VARCHAR" property="creditorMoneyTotal" />
        <result column="upper_money" jdbcType="VARCHAR" property="upperMoney" />
        <result column="current_page" jdbcType="VARCHAR" property="currentPage" />
        <result column="total_page" jdbcType="VARCHAR" property="totalPage" />
        <result column="total_acount" jdbcType="VARCHAR" property="totalAcount" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy" />
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <result column="version" jdbcType="BIGINT" property="version" />
        <result column="pdf_file_url" jdbcType="VARCHAR" property="pdfFileUrl" />
        <result column="credentials_batch_name" jdbcType="VARCHAR" property="credentialsBatchName" />
        <result column="print_count" jdbcType="BIGINT" property="printCount" />
        <result column="ext_field1" jdbcType="VARCHAR" property="extField1" />
        <result column="ext_field2" jdbcType="VARCHAR" property="extField2" />
        <result column="ext_field3" jdbcType="VARCHAR" property="extField3" />
        <result column="ext_field4" jdbcType="VARCHAR" property="extField4" />
        <result column="ext_field5" jdbcType="VARCHAR" property="extField5" />
        <result column="erp_id" jdbcType="VARCHAR" property="erpId" />
    </resultMap>

    <resultMap id="ModelResultMap" type="com.zynsun.platform.edoc.model.EdocCredentialsModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="edoc_header_id" jdbcType="BIGINT" property="edocHeaderId" />
        <result column="voucher_status" property="voucherStatus" jdbcType="VARCHAR" />
        <result column="credentials_num" jdbcType="VARCHAR" property="credentialsNum" />
        <result column="credentials_type" jdbcType="VARCHAR" property="credentialsType" />
        <result column="credentials_status" property="credentialsStatus" jdbcType="VARCHAR" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="create_date" jdbcType="VARCHAR" property="createDate" />
        <result column="currency" jdbcType="VARCHAR" property="currency" />
        <result column="credentials_name" jdbcType="VARCHAR" property="credentialsName" />
        <result column="attachment_count" jdbcType="BIGINT" property="attachmentCount" />
        <result column="digest" jdbcType="VARCHAR" property="digest" />
        <result column="accounting_subject" jdbcType="VARCHAR" property="accountingSubject" />
        <result column="acount" jdbcType="VARCHAR" property="acount" />
        <result column="debtor_money" jdbcType="VARCHAR" property="debtorMoney" />
        <result column="creditor_money" jdbcType="VARCHAR" property="creditorMoney" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="auditor" jdbcType="VARCHAR" property="auditor" />
        <result column="c_accounter" jdbcType="VARCHAR" property="cAccounter" />
        <result column="cashier" jdbcType="VARCHAR" property="cashier" />
        <result column="debtor_money_total" jdbcType="VARCHAR" property="debtorMoneyTotal" />
        <result column="creditor_money_total" jdbcType="VARCHAR" property="creditorMoneyTotal" />
        <result column="upper_money" jdbcType="VARCHAR" property="upperMoney" />
        <result column="current_page" jdbcType="VARCHAR" property="currentPage" />
        <result column="total_page" jdbcType="VARCHAR" property="totalPage" />
        <result column="total_acount" jdbcType="VARCHAR" property="totalAcount" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy" />
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <result column="version" jdbcType="BIGINT" property="version" />
        <result column="pdf_file_url" jdbcType="VARCHAR" property="pdfFileUrl" />
        <result column="credentials_batch_name" jdbcType="VARCHAR" property="credentialsBatchName" />
        <result column="print_count" jdbcType="BIGINT" property="printCount" />
        <result column="ext_field1" jdbcType="VARCHAR" property="extField1" />
        <result column="ext_field2" jdbcType="VARCHAR" property="extField2" />
        <result column="ext_field3" jdbcType="VARCHAR" property="extField3" />
        <result column="ext_field4" jdbcType="VARCHAR" property="extField4" />
        <result column="ext_field5" jdbcType="VARCHAR" property="extField5" />
        <result column="accounting_ledger" jdbcType="VARCHAR" property="accountinLedger" />
        <result column="erp_id" jdbcType="VARCHAR" property="erpId" />
    </resultMap>


    <sql id="Base_Column_List">
        id, edoc_header_id, credentials_num, credentials_type, company_name, create_date,
        currency, credentials_name, attachment_count, digest, accounting_subject, acount,
        debtor_money, creditor_money, creater, auditor, c_accounter, cashier, debtor_money_total,
        creditor_money_total, upper_money, current_page, total_page, total_acount, create_by,
        create_time, last_modify_by, last_modify_time, deleted, version, pdf_file_url, credentials_batch_name,
        print_count, ext_field1, ext_field2, ext_field3, ext_field4, ext_field5,voucher_status,erp_id
    </sql>

    <sql id="Base_Column_List_EC">
        ec.id, ec.credentials_num, ec.credentials_type, ec.company_name, ec.create_date,ec.accounting_ledger,
        ec.currency, ec.credentials_name, ec.attachment_count, ec.digest, ec.accounting_subject, ec.acount,
        ec.debtor_money, ec.creditor_money, ec.creater, ec.auditor, ec.c_accounter, ec.cashier, ec.debtor_money_total,
        ec.creditor_money_total, ec.upper_money, ec.current_page, ec.total_page, ec.total_acount, ec.create_by,
        ec.create_time, ec.last_modify_by, ec.last_modify_time, ec.deleted, ec.version, ec.pdf_file_url, ec.credentials_batch_name,
        ec.print_count, ec.ext_field1, ec.ext_field2, ec.ext_field3, ec.ext_field4, ec.ext_field5,ec.voucher_status,ec.credentials_status,ec.erp_id
    </sql>

    <resultMap id="EdocCredentialsModel" extends="BaseResultMap" type="com.zynsun.platform.edoc.model.EdocCredentialsModel" >
        <result column="h_company_code" property="companyCode" jdbcType="VARCHAR" />
        <result column="h_company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="edoc_type" property="edocType" jdbcType="VARCHAR" />
        <result column="edoc_no" property="edocNo" jdbcType="VARCHAR" />
        <result column="edoc_create_by" property="edocCreateBy" jdbcType="VARCHAR" />
        <result column="edoc_public_type" property="edocPublicType" jdbcType="VARCHAR" />
        <result column="edoc_voucher_no" property="edocVoucherNo" jdbcType="VARCHAR"/>
        <result column="voucher_status" property="voucherStatus" jdbcType="VARCHAR"/>
        <result column="upload_type" property="uploadType" jdbcType="VARCHAR"/>
        <result column="records_no" property="recordsNo" jdbcType="VARCHAR" />
        <result column="box_no" property="boxNo" jdbcType="VARCHAR" />
        <result column="erp_id" jdbcType="VARCHAR" property="erpId" />
    </resultMap>


    <select id="selectEdocCredentialsToBeSection" parameterType="com.zynsun.platform.edoc.model.EdocCredentialsModel" resultMap="EdocCredentialsModel">
        SELECT <include refid="Base_Column_List_EC"/>,
        h.edoc_no, h.edoc_type, h.company_code as h_company_code, h.company_name as h_company_name, h.edoc_voucher_no, h.upload_type, h.create_by as edoc_create_by, h.public_type as edoc_public_type,
        section.records_no,box.box_no
        from edoc_credentials ec
        LEFT JOIN edoc_header h on ec.edoc_header_id = h.id
        LEFT JOIN accounting_section_item item on item.edoc_id = h.id and item.deleted = 0
        LEFT JOIN accounting_section section on section.id = item.accounting_section and section.deleted = 0
        LEFT JOIN accounting_box_item boxItem on boxItem.accounting_section = section.id and boxItem.deleted = 0
        Left JOIN accounting_box box on box.id = boxItem.accounting_box  and box.deleted = 0

        where ec.deleted = 0 and h.deleted = 0  AND ec.voucher_status in ('4','5','6')
        AND (h.edoc_physical_status in ('01','101') OR h.edoc_physical_status is NULL)
        <choose>
            <when test="edocCredentialsModel.edocSource !=null and edocCredentialsModel.edocSource == 1">
                AND h.edoc_source = #{edocCredentialsModel.edocSource}
            </when>
            <when test="edocCredentialsModel.edocSource !=null and edocCredentialsModel.edocSource == 2">
                and h.edoc_source IS NULL
            </when>
        </choose>
        <choose>
            <when test="edocCredentialsModel.credentialsType !=null and edocCredentialsModel.credentialsType == 1">
                and h.edoc_physical_status in ('01', '101')
            </when>
        </choose>
        <if test="edocCredentialsModel.companyName !=null and edocCredentialsModel.companyName !=''">
            and h.company_name = #{edocCredentialsModel.companyName}
        </if>
        <if test="edocCredentialsModel.edocType !=null and edocCredentialsModel.edocType !=''">
            and h.edoc_type = #{edocCredentialsModel.edocType}
        </if>
        <if test="edocCredentialsModel.edocNo !=null and edocCredentialsModel.edocNo !=''">
            and (h.edoc_no like CONCAT ('%',#{edocCredentialsModel.edocNo},'%') or h.edoc_voucher_no like CONCAT ('%',#{edocCredentialsModel.edocNo},'%'))
        </if>
        <if test="edocCredentialsModel.credentialsNum !=null and edocCredentialsModel.credentialsNum !=''">
            and ec.credentials_num = #{edocCredentialsModel.credentialsNum}
        </if>
        <if test="edocCredentialsModel.credentialsType !=null and edocCredentialsModel.credentialsType !=''">
            and ec.credentials_type = #{edocCredentialsModel.credentialsType}
        </if>
        <if test="edocCredentialsModel.extField1 !=null and edocCredentialsModel.extField1 !=''">
            and ec.ext_field1 = #{edocCredentialsModel.extField1}
        </if>
        <if test="edocCredentialsModel.uploadType !=null and edocCredentialsModel.uploadType !=''">
            and h.upload_type = #{edocCredentialsModel.uploadType}
        </if>
        <if test="edocCredentialsModel.recordsNo !=null and edocCredentialsModel.recordsNo !=''">
            and section.records_no = #{edocCredentialsModel.recordsNo}
        </if>
        <if test="edocCredentialsModel.boxNo !=null and edocCredentialsModel.boxNo !=''">
            and box.box_no = #{edocCredentialsModel.boxNo}
        </if>
        <if test="edocCredentialsModel.voucherStatus !=null and edocCredentialsModel.voucherStatus !=''">
            and ec.voucher_status = #{edocCredentialsModel.voucherStatus}
        </if>
        <!--<if test="edocCredentialsModel.createTimeStart !=null and edocCredentialsModel.createTimeStart !=''">
            and ec.create_time >= DATE_FORMAT(#{edocCredentialsModel.createTimeStart},'%Y-%m-%d')
        </if>
        <if test="edocCredentialsModel.createTimeEnd !=null and edocCredentialsModel.createTimeEnd !=''">
            and ec.create_time &lt;= DATE_FORMAT(#{edocCredentialsModel.createTimeEnd},'%Y-%m-%d')
        </if>-->
        <if test="edocCredentialsModel.archiveGroupFlag == 'no'">
            AND (
            ${tools.setCondition('h.create_by', CURRENT_USER.loginName)} <!-- 当前登录用户 -->
            OR ${tools.setDP('h.company_code', 'DPT_COMPANY')}) <!-- 公司数据维度 -->
        </if>
        order by ec.id desc
    </select>

    <select id="queryNoPdfCredByEBS" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from edoc_credentials
        where ext_field3 = 'EBS' and deleted = 0 and pdf_file_url is null order by id desc
    </select>

    <select id="queryNoPdfCredByJDE" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from edoc_credentials
        where ext_field3 = 'JDE' and deleted = 0 and pdf_file_url is null order by id desc
    </select>

    <select id="queryByEdocId" parameterType="Long" resultMap="BaseResultMap">
          SELECT * FROM  edoc_credentials
          where deleted = 0 AND edoc_header_id=#{edocId}
    </select>

    <select id="queryVoucher" parameterType="String" resultMap="BaseResultMap">
          SELECT <include refid="Base_Column_List" /> FROM  edoc_credentials
          where deleted = 0 AND credentials_num=#{credentialsNum}
    </select>

    <update id="updateVoucherStatus">
          update edoc_credentials set voucher_status = #{voucherStatus} where edoc_header_id = #{edocId}
    </update>



    <select id="edocCredentialsPage" parameterType="com.zynsun.platform.edoc.model.EdocCredentialsModel" resultMap="ModelResultMap">
        select <include refid="Base_Column_List_EC" />, h.id AS edoc_header_id from edoc_credentials ec
        LEFT JOIN edoc_header_credentials ehc on ec.id = ehc.edoc_credentials_id
        LEFT JOIN edoc_header h on ehc.edoc_header_id = h.id
        <where>
            ec.deleted=0 and ehc.deleted=0 and h.deleted=0
            <if test="edocCredentialsModel.accountinLedger !=null and edocCredentialsModel.accountinLedger !=''">
                and (ec.accounting_ledger like CONCAT ('%',#{edocCredentialsModel.accountinLedger},'%'))
            </if>
            <if test="edocCredentialsModel.credentialsNum !=null and edocCredentialsModel.credentialsNum !=''">
                and (ec.credentials_num like CONCAT ('%',#{edocCredentialsModel.credentialsNum},'%'))
            </if>
            <if test="edocCredentialsModel.credentialsType !=null and edocCredentialsModel.credentialsType !=''">
                and ec.credentials_type = #{edocCredentialsModel.credentialsType}
            </if>
            <if test="edocCredentialsModel.credentialsStatus !=null and edocCredentialsModel.credentialsStatus !=''">
                and ec.credentials_status = #{edocCredentialsModel.credentialsStatus}
            </if>
            <if test="edocCredentialsModel.createDateStart !=null and edocCredentialsModel.createDateStart !=''">
                AND ec.create_date >= #{edocCredentialsModel.createDateStart}
            </if>
            <if test="edocCredentialsModel.createDateEnd !=null and edocCredentialsModel.createDateEnd !=''">
                <![CDATA[and   ec.create_date <=#{edocCredentialsModel.createDateEnd}]]>
            </if>
        </where>
    </select>

    <select id="edocCredentialsList" parameterType="com.zynsun.platform.edoc.model.EdocCredentialsModel" resultMap="ModelResultMap">
        select <include refid="Base_Column_List_EC" />,h.id AS edoc_header_id from edoc_credentials ec
        LEFT JOIN edoc_header_credentials ehc on ec.id = ehc.edoc_credentials_id
        LEFT JOIN edoc_header h on ehc.edoc_header_id = h.id
        <where>
            ec.deleted=0 and ehc.deleted=0 and h.deleted=0
            <if test="edocCredentialsModel.accountinLedger !=null and edocCredentialsModel.accountinLedger !=''">
                and (ec.accounting_ledger like CONCAT ('%',#{edocCredentialsModel.accountinLedger},'%'))
            </if>
            <if test="edocCredentialsModel.credentialsNum !=null and edocCredentialsModel.credentialsNum !=''">
                and (ec.credentials_num like CONCAT ('%',#{edocCredentialsModel.credentialsNum},'%'))
            </if>
            <if test="edocCredentialsModel.credentialsType !=null and edocCredentialsModel.credentialsType !=''">
                and ec.credentials_type = #{edocCredentialsModel.credentialsType}
            </if>
            <if test="edocCredentialsModel.credentialsStatus !=null and edocCredentialsModel.credentialsStatus !=''">
                and ec.credentials_status = #{edocCredentialsModel.credentialsStatus}
            </if>
            <if test="edocCredentialsModel.createDateStart !=null and edocCredentialsModel.createDateStart !=''">
                AND ec.create_date >= #{edocCredentialsModel.createDateStart}
            </if>
            <if test="edocCredentialsModel.createDateEnd !=null and edocCredentialsModel.createDateEnd !=''">
                <![CDATA[and   ec.create_date <=#{edocCredentialsModel.createDateEnd}]]>
            </if>
        </where>
    </select>









</mapper>
