<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zynsun.platform.edoc.mapper.EdocAttachMapper" >
    <resultMap id="BaseResultMap" type="com.zynsun.platform.edoc.domain.EdocAttach" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="edoc_header_id" property="edocHeaderId" jdbcType="BIGINT" />
        <result column="attach_name" property="attachName" jdbcType="VARCHAR" />
        <result column="attach_url" property="attachUrl" jdbcType="VARCHAR" />
        <result column="attach_root_path" property="attachRootPath" jdbcType="VARCHAR" />
        <result column="attach_format" property="attachFormat" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="TINYINT" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, edoc_header_id, attach_name, attach_url, attach_root_path, attach_format,
        create_by, create_time, last_modify_by, last_modify_time, deleted, version
    </sql>

    <resultMap id="BaseResultMap_EDOCIMAGE" type="com.zynsun.platform.edoc.domain.EdocImage" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="image_parent_id" property="imageParentId" jdbcType="BIGINT" />
        <result column="edoc_header_id" property="edocHeaderId" jdbcType="BIGINT" />
        <result column="image_name" property="imageName" jdbcType="VARCHAR" />
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
        <result column="image_root_path" property="imageRootPath" jdbcType="VARCHAR" />
        <result column="image_format" property="imageFormat" jdbcType="VARCHAR" />
        <result column="page_no" property="pageNo" jdbcType="BIGINT" />
        <result column="is_replace" property="isReplace" jdbcType="TINYINT" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="edoc_image_type" property="edocImageType" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="TINYINT" />
        <result column="version" property="version" jdbcType="BIGINT" />
        <result column="ext_field1" property="extField1" jdbcType="VARCHAR" />
        <result column="ext_field2" property="extField2" jdbcType="VARCHAR" />
        <result column="ext_field3" property="extField3" jdbcType="VARCHAR" />
        <result column="ext_field4" property="extField4" jdbcType="VARCHAR" />
        <result column="ext_field5" property="extField5" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List_EDOCIMAGE" >
        <!--
          WARNING - @mbg.generated
        -->
        id, image_parent_id, edoc_header_id, image_name, image_url, image_root_path, image_format,
        page_no, is_replace, remarks, edoc_image_type,
        create_by, create_time, last_modify_by, last_modify_time, deleted, version, ext_field1,
        ext_field2, ext_field3, ext_field4, ext_field5
    </sql>

    <select id="queryMaxPageNoByBillHeaderId_OLD" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT IFNULL(MAX(cast(page_no as UNSIGNED INTEGER)),0)
        FROM edoc_attach
        WHERE deleted = 0 and edoc_header_id=#{billHeaderId}
    </select>

    <select id="queryMaxPageNoByBillHeaderId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM edoc_attach
        WHERE deleted = 0 and edoc_header_id = #{billHeaderId}
    </select>

    <select id="selectEdocAttach" resultMap="BaseResultMap" parameterType="com.zynsun.platform.edoc.domain.EdocAttach">
        SELECT
        <include refid="Base_Column_List"/>
        FROM edoc_attach
        <where>
            deleted = 0
            <if test="edocAttach.id != null and edocAttach.id != ''">
                AND id = #{edocAttach.id}
            </if>
        </where>
    </select>

    <select id="selectEdocAttachByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM edoc_attach
        <where>
            deleted = 0 and id=#{id}
        </where>
    </select>

    <select id="selectImagesByEdocHeardId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edoc_attach edo
        WHERE
        edo.edoc_header_id = #{id}
        AND edo.deleted = 0
    </select>

    <!-- 根据附件信息查询影像件图片信息-->
    <select id="queryByEdocAttach" resultMap="BaseResultMap_EDOCIMAGE" parameterType="com.zynsun.platform.edoc.domain.EdocAttach">
        SELECT
        <include refid="Base_Column_List_EDOCIMAGE"/>
        FROM edoc_image
        <where>
            deleted = 0
            <if test="edocAttach.edocHeaderId != null and edocAttach.edocHeaderId != ''">
                AND edoc_header_id = #{edocAttach.edocHeaderId}
            </if>

            <if test="edocAttach.attachUrl != null and edocAttach.attachUrl != ''">
                AND image_url = #{edocAttach.attachUrl}
            </if>
        </where>
    </select>

    
</mapper>