<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zynsun.platform.edoc.mapper.UserDefinedActivityMapper" >
  <resultMap id="BaseResultMap" type="com.zynsun.platform.edoc.domain.UserDefinedActivity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="table_id" property="tableId" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="process_defined_id" property="processDefinedId" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="ext_field1" property="extField1" jdbcType="VARCHAR" />
    <result column="ext_field2" property="extField2" jdbcType="VARCHAR" />
    <result column="ext_field3" property="extField3" jdbcType="VARCHAR" />
    <result column="ext_field4" property="extField4" jdbcType="VARCHAR" />
    <result column="ext_field5" property="extField5" jdbcType="VARCHAR" />
    <result column="remark" property="extField5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, table_id, activity_id, activity_name, process_defined_id, deleted, version, create_by, 
    create_time, last_modify_by, last_modify_time, ext_field1, ext_field2, ext_field3, 
    ext_field4, ext_field5, remark
  </sql>
</mapper>